@import url(https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap);

$titleColor: #484848;
$primary: #ff5a5f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $titleColor;
  font-size: 0.9rem;
  font-weight: 400;
}
.container {
  padding: 10px 70px;
}
.title {
  color: $titleColor;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.bodyText {
  color: $titleColor;
  font-size: 0.9rem !important;
}
.bodyImg {
  width: 100%;
  border-radius: 8px;
}
.play {
  position: absolute;
  top: 45%;
  left: 45%;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}
.videoFrame {
  width: 1000px;
  height: 500px;
}
.cards {
  max-width: 300px;
  border: 1px solid #ebebeb;
  overflow: hidden;

  background-color: #ffffff;
  margin: auto;
  position: relative;
  text-align: center;
  border-radius: 8px;
  padding: 50px 41px 30px;
  transition: all 0.3s ease 0s;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(19, 19, 28, 0.12) 0px 0px 50px 0px;
    &::before {
      background-color: $primary;
      bottom: 0px;
      content: "";
      height: 5px;
      left: 0px;
      position: absolute;
      right: 0px;
      width: 100%;
    }
    .cardIconBox {
      background-color: $primary;
      color: #fff;
    }
  }
}
.cardIconBox {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $primary;
  background-color: #f7f7f7;
  transition: all 0.3s ease 0s;
}

.TeamCards {
  max-width: 290px;
  min-width: 290px;
  height: auto;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  &:hover {
    cursor: pointer;
    .hoverBox {
      visibility: visible;
    }
    .IconCon {
      visibility: visible;
    }
  }
}
.ImgCom {
  width: 100%;
  height: 280px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TeamImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.hoverBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: $primary;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0.7;
  z-index: 98;
}
.IconCon {
  position: absolute;
  z-index: 99;
  bottom: 20px;
  visibility: hidden;
  color: #fff;
}
.carouselCon {
  padding: 0 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.preBtn,
.nextBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #006c70;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  z-index: 999;
  transition: 0.3s;
  &:hover {
    background-color: $primary;
    color: #fff;
  }
}
.preBtn {
  left: -13px;
}
.nextBtn {
  right: -10px;
}
.carouselProduct {
  position: relative;
  overflow: hidden;
  padding: 26px;
}
.testimonialCon {
  background-color: transparent;
  background-image: url("../../assets/testimonial/testimonialBg.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  color: #fff !important;
  background-attachment: fixed;
}
.testimonial_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  border: 5px solid #fff;
}
.quote {
  color: #fff;
  font-size: 2rem;
  background-color: #ff337d;
  padding: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: -10px;
}
.partnerIcon {
    padding: 30px 0 !important;
    margin: auto !important;
    display: flex;
    justify-content: center;
  }

@media screen and (min-width: 901px) {

}
@media screen and (max-width: 900px) {
  .videoFrame {
    width: 640px;
    height: 325px;
  }
  .TeamCards {
    max-width: 290px;
    min-width: 290px;
  }
  .TeamSliderCon{
    padding: 50px;
  }
  .container {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 600px) {
  .videoFrame {
    width: 300px;
    height: 200px;
  }
  .TeamCards {
    max-width: 340px;
    min-width: 340px;
    max-height: 420px;
  }
  .container {
    padding: 10px 10px;
  }
  .TeamSliderCon{
    padding: 5px;
  }
  .testimonialSlideCon{
    padding-block: 20px;
  }
}
