.dropdownBtn {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  display: block;
  height: 70px;
  outline: none;
  padding: 20px;
  position: relative;
  text-align: left;
  margin: 50px 0;
  width: 100%;
  font-size: 16px;
  p {
    flex: 1;
  }
}
.ul {
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  min-width: auto;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}
.linkItem {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-right: 2px solid transparent;
  transition: all 0.5s;
  text-transform: capitalize;

  svg {
    margin-right: 10px;
  }
}
.linkItem:hover,
.active {
  color: #ff5a5f;
  border-right-color: #ff5a5f;
}
