$primary: #ff5a5f;
$text: #484848;

.active,
.active p {
  color: $primary !important;
}
.text {
  font-size: 16px !important;
  color: #484848;
}
.divider {
  height: 35px;
  width: 1px;
  background-color: #48484824;
}
.logo {
  height: auto !important;
  max-width: 100%;
  border-radius: 0 !important;
  margin-bottom: 10px;
  object-fit: contain;
}
.navbar {
  align-items: center;
  justify-content: space-between;
  display: flex !important;
  flex-direction: row;

  left: 0;
  padding: 15px 30px;
  background-color: #fff;
  z-index: 1000;
  width: 100vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    &:hover p {
      color: $primary;
    }
  }
  .more {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;

    &:hover > .text,
    &:hover svg {
      color: $primary;
    }

    &:hover .arrowIcon {
      transform: rotate(180deg);
    }
    .arrowIcon {
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
    }
    .dropdown {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      min-width: 250px;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      right: 0%;
      top: 230%;
      z-index: 100;
      transition: all 0.5s ease-in-out;
      box-shadow: 0px 0px 30px 0px rgb(32 32 32 / 15%);

      a {
        display: block;
        margin: 5px 0;
        padding: 10px 0;
        border-bottom: 1px solid #6b6b6b4f;
        transition: all 0.5s ease-in-out;
        &:last-child {
          border: none;
        }
        p {
          transform: translateX(0px);
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          p {
            transform: translateX(20px);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
  .more:hover .dropdown,
  .more:hover .arrow {
    opacity: 1;
    visibility: visible;
  }
  .arrow {
    position: absolute;
    border: 30px solid transparent;
    border-bottom-color: #fff;
    top: -3px;
    right: 2px;
    transition: all 0.5s cubic-bezier(0, 0.8, 0, 1.38);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
  }
}
.btn {
  color: #fff !important;
  background-color: $primary !important;
  border-radius: 27px !important;
}
.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.line {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.line1,
.line2,
.line3 {
  height: 2px;
  background-color: $text;
  margin: 0;
}
.line1 {
  width: 15px;
}
.line2 {
  width: 30px;
}
.line3 {
  width: 20px;
}
.menuItem {
  padding: 10px 0 !important;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: transparent !important;
    transform: translateX(15px);
  }
  p {
    font-size: 16px !important;
  }
}

// Sidebar
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1111;
  background-color: #f7f7f7;
  transition: all 0.5s ease;
  overflow: hidden;

  a {
    text-decoration: none;
    color: $text;
  }
  .sidebarTopMenu {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .listItems {
    border-bottom: 1px solid #00000019;
    text-transform: capitalize;
    padding: 11px 10px 11px 20px;
  }
  .sidebarMore {
    width: 100%;
    height: auto;
    position: absolute;
    top: 12%;
    background: #f7f7f7;
    z-index: 100;
    padding: 8px 16px;
    transition: all 0.5s ease;
  }
  .backArrow {
    position: absolute;
    left: 10%;
  }
}
