.box{
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem;
}
.imgContainer{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: .5rem;
    background-color: #F6F6F6 !important;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #ebebeb !important;
    &:hover{
        background-color: white !important;
        box-shadow: 0 0 40px 0 rgba(19, 19, 28, 0.12);
    }
}       
.image{ 
    width: 100%;
    height: 200px;
}

@media screen and ( max-width: 1200px){
    .box{ 
        width: 90%;
    }
}
@media screen and ( max-width: 1070px){
    .box{ 
        width: 95%
    }
}
@media screen and ( max-width: 997px){
    .box{ 
        width: 97%
    }
}
@media screen and (max-width: 774px){
    .box{ 
        width:97%
    }
}
@media screen and ( max-width: 680px){
    .box{ 
        width: 98%
        //.imgContainer
            //width: 80%
    }
}

@media screen and ( max-width: 600px){
    .box{ 
        width: 80%
    }
}
@media screen and ( max-width: 450px){
    .box{ 
        width: 95%
    }
}
         