.container {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px 30px 20px;
  position: relative;

  h4 {
    margin: 0 0 20px;
    font-size: 18px;
    color: #484848;
  }
}