@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
    font-family: "Nunito", sans-serif;
}
.slick-list {
    margin: 0 40px;
}
/* @media (max-width: 1100px) {
    .sli
} */
.slick-slide > div {
    padding: 20px;
    display: grid;
    place-items: center;
}
.slick-active {
    width: fit-content;
    padding: 0;
    display: grid;
    place-items: center;
}
.slick-current {
    width: fit-content;
    padding: 0;
}
.slick-track {
    transition: all 1s ease-in-out !important;
}
