@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap");

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}
.slick-list {
    margin: 0 40px;
}
/* @media (max-width: 1100px) {
    .sli
} */
.slick-slide > div {
    padding: 20px;
    display: grid;
    place-items: center;
}
.slick-active {
    width: fit-content;
    padding: 0;
    display: grid;
    place-items: center;
}
.slick-current {
    width: fit-content;
    padding: 0;
}
.slick-track {
    transition: all 0.7s ease-in-out !important;
}
