$border-color: #ebebeb;
$active-color: #ff5a5f;

.container {
  width: 60%;
  border-radius: 10px;
  border: 2px solid $border-color;
  padding: 25px;
  background-color: #fff;
  margin: auto;
  color: #484848;
  margin-bottom: 60px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 2px solid $border-color;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.active {
  border: 2px solid $active-color;
  color: $active-color;
}

.icon {
  color: #777777;
  transform: rotate(0);
  transition: all 0.5s ease;
}

.iconActive {
  transform: rotate(180deg);
  transition: all 0.5s ease;
  color: $active-color;
}

.answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 500ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  font-size: 16px;
}

.show {
  opacity: 1;
  max-height: 9em;
  transition: all 500ms linear;
  will-change: opacity, max-height;
}



@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    border: none;
  }
  .question {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
  }
}
