.container {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px 30px 0;
  position: relative;

  h4 {
    margin: 0 0 20px;
    font-size: 18px;
    color: #484848;
  }
}

.featuredHouse {
  display: flex;
  margin-bottom: 30px;

  .imgContainer {
    flex: 0 0 35%;
    max-width: 35%;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
  }

  .content {
    flex: 0 0 65%;
    max-width: 65%;

    h4 {
      font-size: 16px;
      color: #484848;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 0.5rem;
    }

    a {
      font-size: 16px;
      color: rgb(255, 90, 95);
      font-weight: bold;
      line-height: 1.2;
      text-decoration: none;

      small {
        font-size: 80%;
      }
    }

    .infos {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 14px;
        color: #484848;
        line-height: 1.2;
        &:not(:last-child){
          margin-right: 0.3rem;
        }
      }
    }
  }
}
