$orange: #ff5a5f;
.rightSide {
  margin-top: 30px;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.h4 {
  font-size: 18px;
  margin: 0 0 25px;
  line-height: 1.2;
  color: #484848;
}

.agentSearch {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
  display: none;
}

.searchBtn {
  background-color: $orange;
  border: 2px solid $orange;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s ease;
  height: 50px;
  width: 100%;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $orange;
  }
}

.overlayHide {
  float: right;
  color: #484848;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }

  small {
    margin-right: 7px;
  }
}

@media (min-width: 900px) {
  .rightSide {
    margin-top: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .agentSearch{
    display: block;
  }
}